<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Registration</title>
</head>
<body>
  <form name="reg" method="post" action="reg">
    {% csrf_token %}
      <center><h1>User Registration</h1></center><br><br>
      Name <input type="text" name="name" required pattern="[A-Z a-z]{2,24}"><br><br>
      Age <input type="text" name="age" required pattern="[0-9]{2}"><br><br>
      Address <textarea name="address" placeholder="Address" required></textarea><br><br>
      Gender<br>
      Male <input type="radio" name="gender" value="Male" checked> Female <input type="radio" name="gender" value="Female"><br><br>
      email <input type="email" name="email" required><br><br>
      Phone <input type="number" name="phone" required pattern="[0-9]{10}"><br><br>
      Username <input type="text" name="uname" id="usna" required><br><br> <p id="message"></p>
      Password <input type="text" name="pasd" id="passwd" required><br><br> <p id="passw"></p>
      <input type="submit"> <input type="reset">
  </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
        $("#usna").keyup(function(){
            var usnavi;

            usnavi = $(this).val();

            $.ajax(
            {
                type: "GET",
                url: "/usnchk",
                data: {
                    usid: usnavi,
                       },
                success: function( data )
                {
                    if(data.is_taken){
                        $( '#message' ).text(data.error_message);
                        }
                    else
                    {
                        $( '#message' ).text("");
                    }
                }
            })
            });

        $('#passwd').keyup(function(){
            var paswd;

            paswd = $(this).val();

            $.ajax(
            {
                type: "GET",
                url: "/pwdchk",
                data: {
                    pwd: paswd,
                },
                success: function( data )
                {
                    $( '#passw' ).text(data);
                }
            })
            });
    </script>
</body>
</html>