<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Home</title>
</head>
<body>
    <center><h1>User Home</h1></center><br><br>
        <table>
            <tr>
                <td><a href="gotovp">View Profile</a></td>
                <td><a href="ditprof">Edit Profile</a></td>
                <td><a href="gotocrrm">Create Room</a></td>
            </tr>
            <tr>
                <td><a href="goto">Create Connections</a></td>
                <td><a href="https://buy.stripe.com/test_fZe0217Nl5D57KM000">Make payment(Donation/Charity)</a></td>
                <td><a href="viewroom">View Rooms</a></td>
            </tr>
            <tr>
                <td><a href="gotoprof">Create Profile</a></td>
                <td><a href="gotofeedbk">Feedback</a></td>
                <td><a href="/">Logout</a></td>
            </tr>
            <tr>
                <td><a href="viewconn">View Connections</a></td>
            </tr>
        </table>
</body>
</html>